{% set post_url = path('post', { 'year': post.createdAt|date('Y'), 'month': post.createdAt|date('m'), 'day': post.createdAt|date('d'), 'slug': post.slug } ) %}
{% set post_comments_num = post.approvedComments|length %}
<div class="post">
    <div class="post-header">
        {% if showComments %}<h1>{% else %}<h2>{% endif %}<a href="{{ post_url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{ post.title }}</a>{% if showComments %}</h1>{% else %}</h2>{% endif %}
        <p>by Christian Soronellas on {{ post.createdAt|date('d/m/Y') }}</p>
    </div>
    {{ post.body | raw }}
    <div class="post-meta">
        <ul>
            <li>
                <a href="{{ post_url }}#comments">{% if post_comments_num > 0 %}{% transchoice post_comments_num %}{0} comments|{1} comment|]1,Inf] %post_comments_num% comments{% endtranschoice %}{% else %}Leave your comment{% endif %}</a>
                {% if post.tags|length > 0 %}
                    &bull; Tagged as:
                    {% for tag in post.tags %}
                        <a href="{{ path('tag', { 'slug': tag.slug }) }}">{{ tag.tag }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
            <li>Share on <a href="http://twitter.com/home?status=Currently reading: {{ post.title }} {{ post_url }}">Twitter</a>, <a href="http://www.facebook.com/share.php?u={{ post_url }}&amp;t={{ post.title }}">Facebook</a>, <a href="http://del.icio.us/post?v=4;url={{ post_url }}">Delicious</a>, <a href="http://digg.com/submit?url={{ post_url }}">Digg</a>, <a href="http://www.reddit.com/submit?url={{ post_url }}&amp;title={{ post.title|e }}">Reddit</a></li>
        </ul>
    </div>
</div>
{% if showComments and post.parentComments|length > 0 %}
{% include 'ChristianSoronellasBlogBundle:Posts:_comments.html.twig' with { 'comments': post.parentComments, 'post_url': post_url, 'depth': 1, 'total_comments': post.approvedComments|length } %}
{% endif %}