{% import 'ChristianSoronellasBlogBundle::alerts.html.twig' as alerts %}

{% if post.commentsEnabled %}
<h3>Leave your comment<a name="comments"></a></h3>

{{ alerts.show_notice }}

<form class="form-horizontal" action="{{ path('post_comment', { 'slug': post.slug }) }}" method="post" novalidate="novalidate" {{ form_enctype(form) }}>

    <div class="control-group{% if form.name.vars.errors|length > 0 %} error{% endif %}">
        {{ form_label(form.name, 'Your name', { 'label_attr': { 'class': 'control-label' }}) }}
        <div class="controls">
            {{ form_widget(form.name) }}
            {% if form.name.vars.errors|length > 0 %}
                <span class="help-inline">{{ form_errors(form.name) }}</span>
            {% endif %}
        </div>
    </div>

    <div class="control-group{% if form.email.vars.errors|length > 0 %} error{% endif %}">
        {{ form_label(form.email, 'Your e-mail', { 'label_attr': { 'class': 'control-label' }}) }}
        <div class="controls">
            {{ form_widget(form.email) }}
            {% if form.email.vars.errors|length > 0 %}
                <span class="help-inline">{{ form_errors(form.email) }}</span>
            {% else %}
                <span class="help-inline">Will not be publised</span>
            {% endif %}
        </div>
    </div>

    <div class="control-group{% if form.website.vars.errors|length > 0 %} error{% endif %}">
        {{ form_label(form.website, 'Website', { 'label_attr': { 'class': 'control-label' }}) }}
        <div class="controls">
            {{ form_widget(form.website) }}
            {% if form.website.vars.errors|length > 0 %}
                <span class="help-inline">{{ form_errors(form.website) }}</span>
            {% endif %}
        </div>
    </div>

    <div class="control-group{% if form.body.vars.errors|length > 0 %} error{% endif %}">
        {{ form_label(form.body, 'Your comment', { 'label_attr': { 'class': 'control-label' }}) }}
        <div class="controls">
            {{ form_widget(form.body, { 'attr': { 'class': 'input-xxlarge' } }) }}
            {% if form.body.vars.errors|length > 0 %}
                <span class="help-inline">{{ form_errors(form.body) }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-comment icon-white"></i>
            Comment
        </button>
    </div>

    {{ form_rest(form) }}
</form>
{% endif %}