{% extends 'ChristianSoronellasBlogBundle::layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block keywords %}{{ parent() }}{% set tags = post.tags.toArray|join(',') %}{% if tags|length > 0 %},{{ tags }}{% endif %}{% endblock %}

{% block content %}
{% include 'ChristianSoronellasBlogBundle:Posts:_post.html.twig' with { 'post': post, 'showComments': true } %}
<div class="post-comments comment-form" id="respond">
    <h2><a name="comments">Leave your comment</a></h2>
    {% if app.session.hasFlash('notice') %}
    <div class="flash-notice">{{ app.session.flash('notice') }}</div>
    {% endif %}
    <form action="{{ path('post_comment', { 'slug': post.slug }) }}" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
        <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.name) }}<p>Required. {{ form_errors(form.name) }}</p></th>
                    <td>{{ form_widget(form.name)}}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.email) }}<p>Required. Not published. {{ form_errors(form.email) }}</p></th>
                    <td>{{ form_widget(form.email)}}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.website) }}<p>If you have one. {{ form_errors(form.website) }}</p></th>
                    <td>{{ form_widget(form.website)}}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.body) }} {{ form_errors(form.body) }}</th>
                    <td>{{ form_widget(form.body)}}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Submit" tabindex="5" id="submit" name="submit" /></td>
                </tr>
            </tbody>
        </table>
        {{ form_rest(form) }}
    </form>
</div>
{% endblock %}