{% extends 'ChristianSoronellasBackofficeBundle::admin.html.twig' %}

{% block navigation %}
<ul class="nav">
    <li class="active"><a href="#">Entradas</a></li>
    <li><a href="#">Tags</a></li>
</ul>
{% endblock %}

{% block pagetitle %}Entradas{% endblock %}
{% block pagesubtitle %}Detalle de la entrada "{{ entity.title }}"{% endblock %}

{% block content %}
<div class="container">
    <form>
        <fieldset>
            <legend>{{ entity.title }} {% if entity.state == 1 %}<span class="label warning">Borrador</span>{% else %}<span class="label success">Publicada</span>{% endif %}</legend>
            
            <div class="clearfix">
                <label>Título</label>
                <div class="input">
                    <span class="uneditable-input">{{ entity.title }}</span>
                </div>
            </div>
            
            <div class="clearfix">
                <label>Contenido</label>
                <div class="input">
                    <span class="uneditable-input">{{ entity.body }}</span>
                </div>
            </div>
            
            <div class="clearfix">
                <label>Aceptar comentarios?</label>
                <div class="input">
                    <input type="checkbox" disabled="disabled"{% if entity.commentsEnabled %} checked="checked"{% endif %} />
                </div>
            </div>
            
            <div class="well">
                <a class="btn success" href="{{ path('admin_post_edit', { 'slug': entity.slug }) }}">Editar</a>
                <form action="{{ path('admin_post_delete', { 'slug': entity.slug }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn danger" type="submit">Delete</button>
                </form>
                <a class="btn default" href="{{ path('admin_post') }}">Volver a la lista</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}