{% extends 'ChristianSoronellasBlogBundle::admin.html.twig' %}

{% block navigation %}
<ul class="nav">
    <li class="active"><a href="#">Entradas</a></li>
    <li><a href="#">Tags</a></li>
</ul>
{% endblock %}

{% block pagetitle %}Entradas{% endblock %}
{% block pagesubtitle %}editar la entrada "{{ entity.title }}"{% endblock %}

{% block content %}
<div class="container">
    <form>
        <fieldset>
            <legend>{{ entity.title }} {% if entity.state == 1 %}<span class="label warning">Borrador</span>{% else %}<span class="label success">Publicada</span>{% endif %}</legend>

<form action="{{ path('admin_post_update', { 'slug': entity.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_post') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_post_delete', { 'slug': entity.slug }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
