{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" value="{% block keywords %}christian soronellas,php,zend framework, zendframework{% endblock %}" />
        <title>{% block title %}Christian Soronellas Web Architect{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/christiansoronellasblog/css/style.css') }}" type="text/css" media="screen" />
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{ asset('bundles/christiansoronellasblog/css/ie-fixes.css') }}" type="text/css" media="screen" />
        <![endif]-->
    </head>
    
    <body>
        <div id="wrapper">	
            <div id="header-wrapper">
                <div id="nav">
                    {% render 'ChristianSoronellasBlogBundle:Pages:pages' %}
                </div>
                <div id="header">
                    {% block headTitle %}
                    <a class="logo" href="{{ url('root') }}">Christian Soronellas Web Architect</a>
                    {% endblock %}
                </div>
            </div>
            <hr />
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <hr />
            <div id="sidebar">
                <div class="certifications">
                    <a style="border:none;" href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND016877" target="_blank" rel="external"><img alt="zend certified engineer PHP 5.3" src="{{ asset('bundles/christiansoronellasblog/images/zce-php5-3-logo.gif') }}"></a>&nbsp;
                    <a style="border:none;" href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND016877" target="_blank" rel="external"><img alt="zend framework certified engineer" src="{{ asset('bundles/christiansoronellasblog/images/zf-zce-logo.gif') }}"></a>
                </div>
                <div class="section first">
                    <h2>About me</h2>
                    <p>PHP 5.3 & Zend Framework certified. Agile enthusiast. Proud user of Zend Framework (and at times Symfony2). I like to feel as a ninja when coding PHP and as a samurai when coding Zend Framework. At my free times I like to go running and to do windsurf & surfing. Let's PHP? :)</p>
                </div>
                <div class="section">
                    <h2>Site friends</h2>
                    <ul class="xoxo blogroll">
                        <li><a href="http://blog.inspiroh.com/" rel="friend met co-worker colleague" title="Equilibrio y control en el desarrollo web" target="_blank">Front-end Zend</a></li>
                        <li><a href="http://ricardclau.com" rel="friend met co-worker colleague" target="_blank">Ricard Clau</a></li>
                        <li><a href="http://rubengarrido.cat">Ruben Garrido</a></li>
                        <li><a href="http://shesinpanties.tumblr.com" rel="friend met co-worker" target="_blank">shesinpanties</a></li>
                        <li><a href="http://blog.quepimquepam.com/" rel="friend met co-worker colleague external" target="_blank">Blog quepimquepam.com</a></li>
                    </ul>
                </div>
                <div class="section">
                    <h2>MY @TWITTER</h2>
                    {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'theUniC', 'age': 5}, {'standalone': true} %}
                </div>
            </div>
            <hr />
            <div id="footer">
                <p>A theme by <a href="http://www.rodrigogalindez.com" rel="nofolow">Rodrigo Galindez</a></p>
            </div>
        </div>
        {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="symfony-content">{{ code|raw }}</div>
        {% endif %}
        {% javascripts '@ChristianSoronellasBlogBundle/Resources/public/js/LAB.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            // <![CDATA[
            var uvOptions = {};
            
            $LAB
            .script('https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
            .script('http://widget.uservoice.com/yxgPNGS9jhCcT6ukla3j7w.js')
            .wait(function() {
                $(window).load(function(event) {
                    $('#nav li').each(function() {
                        $(this).mouseover(function() { this.className += ' sfhover'; })
                               .mouseout(function() { this.className=this.className.replace(new RegExp(' sfhover\\b'), ''); });
                    });
                });
            });
            // ]]>
        </script>
    </body>
</html>
{% endspaceless %}