{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets '@ChristianSoronellasBlogBundle/Resources/public/css/*.css' filter='cssrewrite,uglifycss' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}

{% block headScripts %}
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset('/components/html5shiv/dist/html5shiv.js') }}"></script>
<![endif]-->
{% endblock %}

{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ url('root') }}">ChristianSoronellas Web Architect</a>
                {% include 'ChristianSoronellasBlogBundle:Pages:pages.html.twig' %}
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <a href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND016877" target="_blank" rel="external"><img alt="zend certified engineer PHP 5.3" src="{{ asset('/bundles/christiansoronellasblog/images/zce-php5-3-logo.gif') }}"></a>
                    &nbsp;<a href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND016877" target="_blank" rel="external"><img alt="zend framework certified engineer" src="{{ asset('/bundles/christiansoronellasblog/images/zf-zce-logo.gif') }}"></a>
                </div>
                <div class="span10">
                    <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Christian Soronellas Web Architect</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES">Creative Commons Reconocimiento-CompartirIgual 3.0 Unported License</a>.<br />Creado a partir de la obra en <a xmlns:dct="http://purl.org/dc/terms/" href="http://christian.soronellas.es" rel="dct:source">http://christian.soronellas.es</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    {% if code is defined %}
    <h2>Code behind this page</h2>
    <div class="symfony-content">{{ code|raw }}</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% javascripts
    'components/jquery/jquery.js'
    'components/bootstrap/js/*.js' filter='uglifyjs' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}